*{
	margin: 0;
	padding: 0;
}
.main{
	width: 600px;
	height: 375px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	margin-top: 150px;
}
.main img{
	width: 100%;	
}
.mainFont{
	position: absolute;
	top: 40px;	
	left: 60px;
	width: 80%;
	height: 80%;
	/*border: 3px solid #fff;*/
	/*visibility:hidden;*/
	opacity: 0;
	transition: all .5s;
	z-index: 1;
}
.main:hover .mainFont{
	opacity: 1;
}
.main:hover .img{
	filter: blur(5px);
}
.main:hover .public{
	 transform: translate(0, 0);
	opacity: 1;
}
@keyframes streamer {
    0%  {
        background-position: 0 0;
    }
    100% {
        background-position: -100% 0;
    }
}
.title{
	background-image: -webkit-linear-gradient(left, blue, red 25%, blue 50%, red 75%, blue 100%);
	color: transparent;
	-webkit-background-clip: text;
	background-size: 200% ;
	animation: streamer 5s infinite linear;
	margin-top: 200px;
}
@keyframes pickup{
	0%{
		color: #3498db;
	}
	25%{
		color: #d71345;
	}
	50%{
		color: #f7acbc;
	}
	75%{
		color: #d71345;
	}
	100%{
		color: #3498db;
	}
}
.pickUp{
	animation: pickup 5s infinite linear;
}
.public{
	opacity: 0;
	transform:translate(0,20px);
	transition: opacity .5s,transform .5s,-webkit-transform .5s,-moz-transform .5s,-o-transform .5s;
}
.border1::before,
.border1::after,
.border2::before,
.border2::after{
    content:'';
    position:absolute;
    background:#ffffff;
    -webkit-transition:-webkit-transform 0.3s;
    transition:transform 0.8s;
    -webkit-transition-timing-function:cubic-bezier(0.44, 0.05, 0.55, 0.95);
    transition-timing-function:cubic-bezier(0.44, 0.05, 0.55, 0.95);
}
.border1::before,
.border1::after{
    width:2px;
    height:100%;
    top:0;
    -webkit-transform: scale3d(0.1, 0, 1);
    transform: scale3d(0.1, 0, 1);
}
.border1::before{
    left:0;
}
.border1::after{
    right:0;
}
.border2::before,
.border2::after{
    width:100%;
    height:2px;
    left:0;
    -webkit-transform: scale3d(0, 0.1, 1);
    transform: scale3d(0, 0.1, 1);
}
.border2::before{
    top:0;
}
.border2::after{
    bottom:0;
}
.main:hover .border1::before,
.main:hover .border1::after,
.main:hover .border2::before,
.main:hover .border2::after{
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
