*{
	padding: 0;
	margin: 0;
}
body{
	font-family: "微软雅黑"；
}
.main{
	width: 100%;
	padding: 20px;
}
.mainBorder{
	background: #eee;
	border: 1px solid #999;
	overflow: hidden;
	padding: 20px;
}
.left,.middle,.right{
	float: left;
	background: #fff;
	padding: 20px;
}
.left{
	width: 200px;
}
.left img, .right img{
	width: 80px;
	height: 80px;
}
.middle{
	margin: 0 20px;
	width: 60%;
}

