*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #dedede;
	font-family: "Microsoft YaHei"；
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
}
table{
	border-collapse:collapse;
}
img{
	width: 80%;
}
.main{
	overflow: hidden;
	height: 100%;
	position: relative;
}
.left{
	float: left;
	margin-right: 470px;
}
.header{
	width: 100%;
	background: rgba(0,0,0,0.7);
}
.header span{
	display: inline-block;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin-left: 50px;
	color: #fff;
}
.header ul{
	float: right;
	margin-right: 50px;
}
.header ul li{
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.header ul li a{
	color: #fff;
	padding: 0 20px;
}
.header ul li a:hover{
	color: #666;
}
.titleOne,.titleTwo,.titleThree,.titleFour{
	margin: 30px;
	padding: 30px;
	background-color: #fff;
	overflow: hidden;
	box-shadow: 0
}
.titleOne h2,.titleTwo h2,.titleThree h2{
	margin: 20px 0;
}
.titleOne h3{
	margin: 20px 0;
	color: #666;
	font-size: 14px;
}
.titleOne span ,.titleThree span{
	display: inline-block;
	color: #666;
	font-size: 12px;
	margin-bottom: 20px;
}
.titleOne p:nth-child(5){
	text-indent: 2em;
}
.titleOne p ,.titleTwo p{
	margin: 5px 0;
}
.titleOne img{
	width: 400px;
}
.titleTwoBorder{
	width: 200px;
	text-align: center;
	border: 1px solid #e2e2e2;
	float: left;
	margin-right: 50px;
	margin-bottom: 50px;
}
.titleTwoBorder img{
	width: 100px;
}
.titleThree ol{
	margin-left: 100px;
}
.titleThree ol li{
	height: 40px;
	line-height: 40px;
	text-align: left;
	font-size: 16px;
	font-weight: 600;
}

.titleThree table tr td{
	border: 1px solid #000;
	padding: 5px;
	font-weight: bold;
}


.titleFour form label{
	display: inline-block;
	margin-top: 20px;
	font-weight: bold;
}
.titleFour form label span{
	display: inline-block;
	width: 150px;
	height: 34px;
	line-height: 34px;
	text-align: right;
	font-size: 14px;
}
.titleFour form label .input{
	height: 30px;
	padding: 0 5px;
	color: #000;
	border-radius: 2px;
	border:1px solid #e2e2e2;
}
.titleFour form p{
	font-size: 14px;
	color: #666;
	margin-left: 160px;
	margin-top: 10px;
}
.titleFour form textarea{
	padding: 5px;
}
.sub{
	width: 100%;
	margin-top: 10px;
	color: #fff;
	background: green;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border: 0;
	border-radius: 2px;
}
footer{
	width: 100%;
	background: #000;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
footer p{
	color: #fff;
}
/*修改样式*/
.titleFour{
	position: absolute;
	right: 0px;
}
.titleFour{
	width: 400px;
}
.titleFour h2{
	padding: 10px 0;
	padding-left: 10px;
	margin: 0 !important;
	font-size: 20px;
	border-left: 3px solid #e2e2e2;
}